---
import JavaIcon from './../assets/java.png';
import ReactIcon from './../assets/react.png';
import JavaScriptIcon from './../assets/javascript.png';
import NodejsIcon from './../assets/nodejs.png';
import MySQLIcon from './../assets/mysql.png';
---

<section>
  <h1 class='text-center text-3xl'>My Skills</h1>
  <div class='flex flex-row justify-between items-center mt-10'>
    <div>
      <img
        class='object-cover h-24 w-24 drop-shadow-lg'
        src={JavaIcon}
        alt='Java'
      />
      <p class='text-center text-primary'>Java</p>
    </div>
    <div>
      <img
        class='object-cover h-24 w-24 drop-shadow-lg'
        src={ReactIcon}
        alt='React'
      />
      <p class='text-center text-primary'>React</p>
    </div>
    <div>
      <img
        class='object-cover h-24 w-24 drop-shadow-lg'
        src={JavaScriptIcon}
        alt='JavaScript'
      />
      <p class='text-center text-primary'>JavaScript</p>
    </div>
    <div>
      <img
        class='object-cover h-24 w-24 drop-shadow-lg'
        src={NodejsIcon}
        alt='Nodejs'
      />
      <p class='text-center text-primary'>Node JS</p>
    </div>
    <div>
      <img
        class='object-cover h-24 w-24 drop-shadow-lg'
        src={MySQLIcon}
        alt='MySQL'
      />
      <p class='text-center text-primary'>MySQL</p>
    </div>
  </div>
</section>
